body {
    background-color: #B4BB72;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
h1,h2, h3, h4, p {
    color: #F6FAF7;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 29pt;
    -webkit-text-stroke-width: 1%;
    -webkit-text-stroke-color: #9DC08B;
    text-shadow: rgb(0, 0, 0);
    font-weight: bold;
}
h3 {
    font-size: 20px;
    
}
h4 {
    font-size: 15px;

}
p {
    font-size: 17px;
    
}
li {
    font-size: 15px;
    color: #F6FAF7;
    display:list-item;
    
}

a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f0ecaf;
    font-size: 24pt;
    -webkit-text-stroke-width: 1%;
    -webkit-text-stroke-color: #9DC08B;
    text-shadow: rgb(0, 0, 0);
    font-weight: bold;
}

div {
    text-align: center;
}

img {
    text-align: center;
}


.must-know {
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;  
}
.list {
    
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        display: grid;
        place-items: center;
}
@media (max-width: 680px) {
    .card {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
    }
  }